.App {
  text-align: center;
}

#parent-window { 
  height: 100vh;
}

#map-element { 
  height: 60%;
  width: 100% ;
}

.place-container {
  height: 40%;
  width: 50%; 
  float: left; 
  color: white; 
  background-color: gray; 
}

#welcome-card {
  position: absolute;
  top: 20%;
  right: 25%;
  width: 50%;
}

.button {
  margin: 5px;
}


