.App {
  text-align: center;
}

#parent-window { 
  height: 100vh;
}

#map-element { 
  height: 60%;
  width: 100% ;
}

.place-container {
  height: 40%;
  width: 50%; 
  float: left; 
  color: white; 
  background-color: gray; 
}

.input-card {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
}


