* {
  box-sizing: border-box;
}

html {
  font-size: calc(1em + 1vw);
}

h2 {
  font-size: 0.5rem;
}

p.card-text {
  margin-bottom: 0.35rem;
}

.App {
  text-align: center;
  margin: 0;
  background-color: rgb(207, 207, 207);
}

#parent-window {
  background-color: rgb(207, 207, 207);
  display: inline-block;
}

#map-element {
  height: 100vh;
  width: 100vw;
  float: left;
}

#welcome-card {
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: 0.75;
}

#cardtable-container {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 40vw;
}

.card-text {
  font-size: 0.75rem;
}

.card-body {
  font-size: 0.75rem;
}

#cafe-results-card {
  width: 100%;
}

#kids-activity-results-card {
  width: 100%;
  top: 70%;
}

.table th,
.table td {
  font-size: 0.5rem;
  padding: 0.2rem;
}

.button {
  margin: 5px;
}

.btn.btn {
  font-size: 0.75rem;
}

.transport-btn {
  width: 7rem;
}

.date-btn {
  width: 6rem;
}

.form-control.form-control {
  font-size: 0.75rem;
}

#proximityMinutesInputBox {
  width: 5rem;
}

#cafe-and-kids {
  font-family: Pacifico;
  font-size: 2rem;
}

#subtitle {
  text-indent: 1em;
  font-size: 0.75rem;
  font-style: italic;
}

#locationTextBox {
  margin: 5px;
  margin-top: 0px;
}
